#about-wrap {
    background: #d8d8d8;
    background: linear-gradient(#fff, #d8d8d8);
    background: -webkit-linear-gradient(#fff, #d8d8d8);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #d8d8d8);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #d8d8d8);
    /* For Firefox 3.6 to 15 */
}
