#home {
    .main-nav {
        background-color: $dark-black;
        width: 100%;
        position: fixed;
        z-index: 999;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        &.active {
            background-color: $dark-black;
            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
            box-shadow: 0px 0px 20px 1px $dark-black;
        }
        @media only screen and (min-width: 768px) {
            background-color: rgba(0, 0, 0, 0.4);
        }
        .logo {
            z-index: 1;
            font-family: 'Challenge', san-serif, arial;
            color: rgba(255, 255, 255, 0.8);
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 1px;
            text-decoration: none;
            padding: 0.5rem 15px;
            @media only screen and (min-width: 768px) {
                padding: 0;
            }
        }
        ul {
            text-align: center;
            position: relative;
            background-color: $dark-black;
            display: none;
            margin-bottom: 0;
            width: 100%;
            &.active {
                display: flex;
            }
            @media only screen and (min-width: 768px) {
                text-align: right;
                background-color: transparent;
                display: block;
                width: auto;
            }
            li {
                display: inline-block;
                width: 100%;
                @media only screen and (min-width: 768px) {
                    width: auto;
                    margin-right: 3rem;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    display: inline-block;
                    position: relative;
                    -webkit-transition: opacity 300ms ease-out;
                    -moz-transition: opacity 300ms ease-out;
                    -o-transition: opacity 300ms ease-out;
                    transition: opacity 300ms ease-out;
                    padding: 1rem 0;
                    // &:after {
                    //     content: "";
                    //     background-color: #CBCBE2;
                    //     display: inline-block;
                    //     position: absolute;
                    //     height: 1px;
                    //     width: 100%;
                    //     border-radius: 2px;
                    //     bottom: 0px;
                    //     left: 0;
                    //     opacity: 0;
                    //     transition: all 100ms ease-out;
                    // }
                    &:hover {
                        opacity: 0.6;
                        // &:after {
                        //     opacity: 0.8;
                        //     bottom: 20px;
                        //     transition: all 300ms ease-out;
                        // }
                    }
                    &.active {
                        opacity: 0.6;
                    }
                }
            }
        }
        .hamburger {
            position: absolute;
            width: 30px;
            top: 15px;
            right: 15px;
            display: block;
            @media only screen and (min-width: 768px) {
                display: none;
                right: 50px;
            }
            &:hover {
                cursor: pointer;
            }
            .line {
                width: 100%;
                height: 2px;
                margin-bottom: 8px;
                background-color: #fff;
                transition: 300ms all ease-out;
            }
            &.active {
                transition: 300ms all ease-out;
                .line {
                    transition: 300ms all ease-out;
                    margin-bottom: -2px;
                    &:first-of-type {
                        -webkit-transform: rotate(40deg);
                        -moz-transform: rotate(40deg);
                        -o-transform: rotate(40deg);
                        transform: rotate(40deg);
                        margin-top: 10px;
                    }
                    &:nth-of-type(2) {
                        opacity: 0;
                    }
                    &:last-of-type {
                        -webkit-transform: rotate(-40deg);
                        -moz-transform: rotate(-40deg);
                        -o-transform: rotate(-40deg);
                        transform: rotate(-40deg);
                    }
                }
            }
        }
    }
}
